/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.search img {
  height: 6rem;
  padding: 1rem;
  position: absolute;
  cursor: pointer;
  z-index: 99;
  -webkit-transition: 500ms height ease-in-out;
  transition: 500ms height ease-in-out;
}

.search svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  position: absolute;
  cursor: pointer;
}

.search__close {
  right: 0;
  fill: white;
  -webkit-transition: 500ms fill ease-in;
  transition: 500ms fill ease-in;
}

.search__delete {
  fill: #0d2635;
  right: 3rem;
  display: none;
}

.search input {
  border: none;
  opacity: 0%;
  padding: 0rem 1rem 0rem 6rem;
  font-family: inherit;
  font-size: 2rem;
  color: #0d2635;
  outline: none;
  width: 2rem;
  -webkit-transition: 500ms width ease-in-out, 500ms padding ease-in-out, 800ms opacity ease-in-out;
  transition: 500ms width ease-in-out, 500ms padding ease-in-out, 800ms opacity ease-in-out;
}

.search input:not(:placeholder-shown) ~ .search__delete {
  display: block;
}

.search-open input {
  width: 15rem;
  padding: 0rem 7rem 0rem 6rem;
  opacity: 100%;
}

.search-open img {
  -webkit-animation: spin 500ms linear;
          animation: spin 500ms linear;
  height: 4rem;
}

.search-open svg.search__close {
  fill: #0d2635;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.result-list {
  color: inherit;
  font-size: 1rem;
}

.result-list tr {
  border-bottom: 0.5px solid rgba(13, 38, 53, 0.5);
}

.result-list tr:first-child {
  border-bottom: 1px solid #0d2635;
}

.result-list tr:last-child {
  border-bottom: 1px solid #0d2635;
}

.result-list th {
  height: 3rem;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.result-list td:first-child {
  width: 3rem;
  height: 3rem;
  text-align: right;
  vertical-align: middle;
}

.result-list td:nth-child(2) {
  width: 4rem;
  text-align: center;
  vertical-align: middle;
}

.result-list td:nth-child(3) {
  width: 12rem;
  text-align: left;
  vertical-align: middle;
}

.result-list td:last-child {
  width: 6rem;
  text-align: left;
  vertical-align: middle;
}

.result-list tr:not(:first-child):hover {
  background: rgba(13, 38, 53, 0.1);
}

.result-list td:nth-child(3):hover {
  color: #0d2635;
  font-weight: bolder;
}

.result-list img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.result-list a {
  text-decoration: none;
  color: inherit;
}

.loading-animation {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-animation div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgba(13, 38, 53, 0.5);
  -webkit-animation: loading-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: loading-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loading-animation div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.loading-animation div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.loading-animation div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes loading-animation {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes loading-animation {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.result-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-pagination button {
  color: inherit;
  background: transparent;
  border: 1px solid rgba(13, 38, 53, 0.5);
  border-radius: 0.5rem;
  margin: 0.5rem 1rem 1rem auto;
  width: 2.5rem;
  height: 1.5rem;
  display: block;
  font-size: 0.8rem;
  padding: 0;
}

.result-pagination button:hover {
  background: rgba(13, 38, 53, 0.1);
}

.header {
  display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
  margin: 8rem 0rem 6rem 0rem;
}

.result-per-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8.5rem;
}

.result-per-page button {
  color: inherit;
  font-family: inherit;
  background: transparent;
  border: 1px solid rgba(13, 38, 53, 0.5);
  border-radius: 0.5rem;
  margin: 0.5rem 0rem 1rem 0rem;
  width: 2.5rem;
  height: 1.5rem;
  display: block;
  font-size: 0.8rem;
  padding: 0;
}

.result-per-page button:first-child {
  background: rgba(13, 38, 53, 0.1);
}

.result-per-page button:hover {
  background: rgba(13, 38, 53, 0.1);
}

.result-counter {
  color: inherit;
  font-size: 1rem;
  margin-bottom: 1rem;
}

body {
  font-family: "Roboto Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: white;
  font-size: 12px;
  color: #0d2635;
}
/*# sourceMappingURL=style.css.map */