@import "./base/reset";
@import "./base/typography";
@import "./components/search";
@import "./components/table";
@import "./components/loading";
@import "./components/pagination";
@import "./components/header";
@import "./components/per-page";


body {
  font-family: $font-family-main;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  font-size: $size-unit;
  color: $color-main;
}






  