//results per page buttons

.result-per-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 8.5rem;
  
    button {
      color: inherit;
      font-family: inherit;
      background: transparent;
      border: 1px solid $color-main-50;
      border-radius: 0.5rem;
      margin: 0.5rem 0rem 1rem 0rem;
      width: 2.5rem;
      height: 1.5rem;
      display: block;
      font-size: 0.8rem;
      padding: 0;
    }
  
    button:first-child {
      background: $color-main-10;
    }
    
    button:hover {
      background: $color-main-10;
    }
  }
  
  .result-counter {
    color: inherit;
    font-size: 1rem;
    margin-bottom: 1rem;
  }