//results list inside table

.result-list {
    color: inherit;
    font-size: 1rem;
  
    tr {
      border-bottom: 0.5px solid $color-main-50;
    }
    
    tr:first-child {
      border-bottom: 1px solid $color-main;
    }
    
    tr:last-child {
      border-bottom: 1px solid $color-main;
    }
    
    th {
      height: 3rem;
      font-weight: bold;
      text-align: left; 
      vertical-align: middle;
    }
    
    td:first-child {
      width: 3rem;
      height: 3rem;
      text-align: right; 
      vertical-align: middle;
    }
    
    td:nth-child(2) {
      width: 4rem;
      text-align: center; 
      vertical-align: middle;
    }
    
    td:nth-child(3) {
      width: 12rem;
      text-align: left; 
      vertical-align: middle;
    }
    
    td:last-child {
      width: 6rem;
      text-align: left; 
      vertical-align: middle;
    }
    
    tr:not(:first-child):hover {
      background: $color-main-10;
    }
    
    td:nth-child(3):hover {
      color: $color-main;
      font-weight: bolder;
    }
    
    img {
      object-fit: cover;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    
    a {
      text-decoration: none;
      color: inherit;
    }
  }